@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
}

:root{
    /*Paleta de Colores*/
    --color-fondo: #3A2821; /*Marron principal*/
    --color-acento: #FFC300; /*Amarillo Acento*/
    --color-bordes: #A1887F; /*Tierra secundario*/
    --color-texto: #FFFFFF; /*Blanco para el texto*/
    --color_placeholder: #F5F5DC; /*Crema Claro*/

    /*Tipografia*/
    --fuente-titulos: 'Oswald', sans-serif;
    --fuente-cuerpo: 'Roboto', sans-serif;
}

*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-family: var(--fuente-cuerpo);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 32px;
    background-color: var(--color-acento);
    border-bottom: 1px solid var(--color-bordes)
}

/*Estilos para la lista del menu*/
.header__nav ul{
    display: flex;
    list-style: none;
    gap: 24px;
}

/*Estilos para los enlaces del menu*/
.header__nav a {
    color: var(--color-fondo);
    text-decoration: none;
    font-family: var(--fuente-titulos);
    font-size: 18p;
    position: relative;
    padding-bottom: 4px;
}

.header__nav a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-fondo);
    transform: scale(0);
    transition: transform 0.3s ease;
}

.header__nav a:hover::after{
    transform: scaleX(1);
}



.header__cta{
    background-color: var(--color-fondo) ;
    padding: 8px 16px;
    border-radius: 4px;

    color: var(--color-texto);
    text-decoration: none;
    font-family: var(--fuente-titulos);
    font-weight: 700;

    transition: transform 0.3s ease;
}

.header__cta:hover{
    transform: scale(1.05);
    
}

.header__logo img{
    height: 64px;
    border-radius: 20%;
}

.header__menu-toggle{
    display: none;
}


/* Estilos para el contenedor principal de esta pagina */
main {
    padding: 32px;
}

/* Estilo para formulario */
.admin-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 32px;
  background-color: var(--color-placeholder);
  color: var(--color-texto);
  border-radius: 8px;
}

/* Título del formulario */
h1 {
    text-align: center;
    font-family: var(--fuente-titulos);
    margin-bottom: 24px;
}


.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.form-group label, .form-group p {
  margin-bottom: 8px;
  font-family: var(--fuente-titulos);
  font-size: 18px;
}

.admin-form input[type="text"],
.admin-form input[type="time"],
.admin-form select,
.admin-form textarea {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid var(--color-bordes);
  font-size: 16px;
  font-family: var(--fuente-cuerpo);
}

#actividad-descripcion{
  min-width: 100%;
  max-width: 100%;
}

/* Contenedor para los radio buttons */
.radio-group {
    display: flex;
    gap: 24px;
}

/* Separador dia y hora del tipo de evento */
hr {
    border: none;
    border-top: 1px solid var(--color-bordes);
    margin: 32px 0;
}

/* enviar */
.admin-form button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  background-color: var(--color-acento);
  color: var(--color-fondo);
  font-family: var(--fuente-titulos);
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 16px;
  transition: transform 0.3s ease;
}

.admin-form button:hover {
  transform: scale(1.02);
}

/* --- Logica dependiendo si elige clase o actividad --- */
/* Ocultamos los campos condicionales por defecto */
.campos-condicionales-clase {
    display: none;
}

.campos-condicionales-actividad{
    display: none;
}



/*Estilizamos footer*/
footer{
    text-align: center;
    background-color: var(--color-acento);
    color: var(--color-fondo);
    padding: 5px;
}


/*Media Query para otros dispositivos*/
@media (max-width: 768px){
     header {
    padding: 12px 16px;
    flex-wrap: wrap; /* Para que los elementos puedan saltar a la siguiente línea */
  }

  /*Logo mas pequeño*/
  .header__logo img{
    height: 48px;
  }

  /*boton hamburguesa*/
 .header__menu-toggle {
    display: block;
    background: none;
    border: none;
    color: var(--color-fondo);
    font-size: 24px;
    cursor: pointer;
    margin-left: auto; /* Lo empuja a la derecha */
  }

  /* menu oculto por el movil*/
  .header__nav{
    display: none;
    width: 100%;
    margin-top: 16px;
    padding: 16px 0;
    background-color: var(--color-acento);
    border-top: 1px solid var(--color-bordes);
  }

  .header__nav.active {
    display: block; /* Se muestra cuando se hace clic en el boton hamburguesa */
  }
  
   .header__nav ul {
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }
  
  .header__nav a {
    font-size: 16px;
    padding: 8px 0;
  }


  /*CTA en el movil*/
  .header__cta{
    margin-top: 16px;
    width: 100%;
    text-align: center;
    padding: 12px;
  }
}